:root {
  --tile-size: 50px;
  --board-size: 8;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

#layout {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 200px;
  grid-template-areas:
    "editor game"
    "console console";
  height: 100vh;
}

#editor-panel {
  grid-area: editor;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}


#game-panel {
  grid-area: game;
  display: flex;
  justify-content: center;
  align-items: center;
}


#console-panel {
  grid-area: console;
  border-top: 1px solid #ddd;
  background: #111;
  color: #0f0;
  font-family: monospace;
  padding: 10px;
  overflow-y: auto;
}

.panel-header {
  padding: 6px 5px;
  font-weight: bold;
  font-size: 14px;
  background: #0aa351;
  color: #fff;
}


#editor {
  flex: 1;
  border: 1px solid #ccc;
}

#run-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


#game {
  position: relative;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), var(--tile-size));
  grid-template-rows: repeat(var(--board-size), var(--tile-size));
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: 1px solid #ccc;
}

#actors {
  position: absolute;
  top: 0;
  left: 0;
}

.actor {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  transition: transform 0.2s ease;
}